version: "3"

services:
  api:
    build:
      context: .
      dockerfile: images/api.dockerfile
    image: todo-with-clean-architecture-app
    volumes:
      - ../src/backend:/app
      - ./config/zzz-www.conf:/usr/local/etc/php-fpm.d/zzz-www.conf
      - ./config/php.ini:/usr/local/etc/php/php.ini
      - a47304c5d4f54f2e584445e3:/var/run/php-fpm
    links: 
      - db
  proxy:
    build:
      context: .
      dockerfile: images/proxy.dockerfile
    image: todo-with-clean-architecture-proxy
    volumes:
      - a47304c5d4f54f2e584445e3:/var/run/php-fpm
      - ./config/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 9000:9000
    links:
      - api
      - db
  db:
    build:
      context: .
      dockerfile: images/mysql.dockerfile
    image: todo-with-clean-architecture-db
    container_name: todo-with-clean-architecture-db
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - 36e21b759d8a6279b684c016:/var/lib/mysql
      - 2cdf0baf60b978561ad11e59:/var/run/mysqld
      - ./config/dbaccess.cnf:/dbaccess.cnf
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: todo_with_clean_architecture
      MYSQL_ROOT_PASSWORD: s8bPNufYs2BTTg23
  ui:
    build:
      context: .
      dockerfile: images/ui.dockerfile
    command: yarn serve
    working_dir: /app
    volumes:
      - ../src/frontend:/app
    ports:
      - 8080:8080
    environment: 
      NODE_ENV: development

volumes:
  # api socket
  a47304c5d4f54f2e584445e3:
  # database socket
  2cdf0baf60b978561ad11e59:
  # database data
  36e21b759d8a6279b684c016:
